.one{
    background-color: yellow;
}
.two{
    background-color: gree;
}
.three{
    background-color: white;
}
.four{
    background-color: darkgreen;
}
.five{
    background-color: skyblue;
}
.six{
    background-color:tomato;
}
.seven{
    background-color: yellowgreen;
}